[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
uvloop = "*"
cchardet = "*"
python-dotenv = "*"
aioredis = "*"
faker = "*"
arrow = "*"
flask = "*"


[dev-packages]

asynctest = "*"
coverage = "*"
flake8 = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"
pytest-sugar = "*"
pytest-cov = "*"
pytest-xdist = "*"
codacy-coverage = "*"

[requires]

python_version = "3.6.3"